{% set InquiryModel = 'Project\\Inquiry\\Model\\InquiryModel' %}
{% set TopController = 'Project\\Base\\Front\\Controller\\Front\\TopController' %}
{% set InquiryController = 'Project\\Inquiry\\Front\\Controller\\Inquiry\\InquiryController' %}
{% set form = self.form %}
<main class="main">
    {{ form.start }}
    <h2 class="lower-title">{{'Contact Us'|tf}}</h2>

    {{ self.containers.Breadcrumb.content | saferaw }}

    <div class="container">
        <div class="step-section">
            <div class="step-wrapper">

                {{ self.getContainer('Steps').getContent() | saferaw }}

                <p class="mt-20">{{'After confirming the contents, please click the "complete" button.'|tf}}</p>

                <table class="table-info">
                    <tbody>
                        <tr>
                            <th>{{ InquiryModel|ProxyStatic('getPropertyLabel', 'frontName')}}</th>
                            <td>{{ form.fieldsets.inquiry.elements.name | saferaw }}</td>
                        </tr>
                        <tr>
                            <th>{{ InquiryModel|ProxyStatic('getPropertyLabel', 'frontRentalNo')}}</th>
                            <td>{{ form.fieldsets.inquiry.elements.rentalNo | saferaw }}</td>
                        </tr>
                        <tr>
                            <th>{{ InquiryModel|ProxyStatic('getPropertyLabel', 'frontEmail')}}</th>
                            <td>{{ form.fieldsets.inquiry.elements.email | saferaw }}</td>
                        </tr>
                        <tr>
                            <th>{{ InquiryModel|ProxyStatic('getPropertyLabel', 'frontPhone')}}</th>
                            <td>{{ form.fieldsets.inquiry.elements.phone | saferaw }}</td>
                        </tr>
                        <tr>
                            <th>{{ InquiryModel|ProxyStatic('getPropertyLabel', 'frontInquiryType')}}</th>
                            <td>{{ form.fieldsets.inquiry.elements.InquiryType | saferaw }}</td>
                        </tr>
                        <tr>
                            <th>{{ InquiryModel|ProxyStatic('getPropertyLabel', 'frontInquiryAction')}}</th>
                            <td>{{ form.fieldsets.inquiry.elements.InquiryAction | saferaw }}</td>
                        </tr>
                    </tbody>
                </table>

                <h4 class="heading-border mt-20">{{ InquiryModel|ProxyStatic('getPropertyLabel', 'frontBody')}}</h4>
                {{ form.fieldsets.inquiry.elements.body | saferaw }}
            </div>
        </div>
    </div>
    <div class="cv-area">
        {{ form.elements.submit | saferaw }}
    </div>
    {% do form.end %}
</main>