
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ self.subject }}</title>
</head>
<body style="margin:0px; background: #f8f8f8; ">
<div width="100%" style="background: #f8f8f8; padding: 0px 0px; font-family:arial; line-height:28px; height:100%;  width: 100%; color: #514d6a;">
  <div style="max-width: 700px; padding:50px 0;  margin: 0px auto; font-size: 14px">
    <div style="padding: 40px; background: #fff;">
      <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
        <tbody>
          <tr>
            <td>
              <pre>
{{'Dear %nameSei% %nameMei%,'|tf |replace({'%nameSei%': Customer.nameSei,'%nameMei%': Customer.nameMei})}}

{{'Thank you for using our products and services.'|tf}}

{{'We will inform you the URL for changing your password.'|tf}}

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
{{'How to change your password'|tf}}
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

(1){{'Click the [URL] below.'|tf}}

<a href="{{ Uri.scheme}}://{{ Uri.host }}{{ recoveryLink }}">{{'Resetting a password'|tf}}</a>
※{{'Please access this [URL] within '|tf}}{{ reminderExpiration }}{{' minutes from sending mail.'|tf}}

(2){{'The [Password reset] screen will be displayed.'|tf}}
{{'After entering [authentication key] and [new password] displayed on the screen, click the "setting" button.'|tf}}

(3){{'Change complete.'|tf}}

{{'For any questions, please contact below.'|tf}}

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－
※{{'This e-mail address is dedicated to distribution only. Those who do not know, please discard them.'|tf}}

{{ self.containers.Signature.content | saferaw }}
            </pre>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>