{% set CustomerModel = 'Project\\Customer\\Model\\CustomerModel' %}
{% set ProvisionalController = 'Project\\Customer\\Front\\Controller\\Customer\\ProvisionalController' %}
{% set LoginController = 'Project\\Customer\\Front\\Controller\\Login\\LoginController' %}
{% set LoginReminderController = 'Project\\Customer\\Front\\Controller\\Login\\LoginReminderController' %}
{% set form = self.form %}
<main class="main lower-mypage">
    {{ form.start }}
    <div class="container col1">
        <div class="step-section mb-0">
            <div class="step-wrapper">
                <p>{{'Please enter your registered Member ID and password and click the "Login" button.'|tf}}</p>
                <div class="form-col1">
                    {% do form.fieldsets.customerLoginPassword.elements.login.setValue(login) %}
                    {{ form.fieldsets.customerLoginPassword.elements.csrf.error | saferaw }}
                    {{ form.fieldsets.customerLoginPassword.elements.login.error | saferaw}}
                    {{ form.fieldsets.customerLoginPassword.elements.login | saferaw }}
                    <div class="form-inner {{ form.fieldsets.customerLoginPassword.elements.customerPassword.errorClass }}">
                        <h4>{{ CustomerModel|ProxyStatic('getPropertyLabel', 'frontCustomerPassword')}}</h4>
                        {{ form.fieldsets.customerLoginPassword.elements.customerPassword.error | saferaw }}
                        {{ form.fieldsets.customerLoginPassword.elements.customerPassword | saferaw }}
                    </div>
                  <p class="text-right mt-10 mb-0">
                      <a href="{{ self.Router().linkto(ForgotController) }}" tabindex="5">{{'Forgot your password?'|tf}}</a>
                  </p>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-container">
        <a class="button button-border" href="{{ self.Router().linkto(LoginController) }}" tabindex="6">{{'Return'|tf}}</a>
        {{ form.elements.submit | saferaw }}
    </div>
    {% do form.end %}
</main>
