{% set LoginController = 'Project\\Customer\\Front\\Controller\\Login\\LoginController' %}
{% set TermsController = 'Project\\Pages\\Front\\Controller\\Pages\\TermsController' %}
{% set PrivacyController = 'Project\\Pages\\Front\\Controller\\Pages\\PrivacyController' %}
<li><a href="{{self.router.linkto(LoginController)}}">{{'Log In '|tf}}</a></li>
<li><a href="{{self.router.linkto(TermsController)}}">{{'Terms of service'|tf}}</a></li>
<li><a href="{{self.router.linkto(PrivacyController)}}">{{'Privacy Policy'|tf}}</a></li>
