{% set CustomerModel = 'Project\\Customer\\Model\\CustomerModel' %}
{% set form = self.form %}

<main class="main lower-mypage">
    {{ form.start }}
    {{ form.fieldsets.customer.elements.customerId | saferaw }}
    <div class="container col1">
        <div class="step-section mb-0">
            <div class="step-wrapper">

                <p>{{'Change your password.'|tf}}</p>

                <div class="form-col1">
                    <div class="form-inner {{ form.fieldsets.customer.elements.oldPassword.errorClass }}">
                        <h4 class="mt-10">{{ CustomerModel|ProxyStatic('getPropertyLabel', 'frontCustomerPasswordOld')}}</h4>
                        {{ form.fieldsets.customer.elements.oldPassword.error | saferaw }}
                        {{ form.fieldsets.customer.elements.oldPassword | saferaw }}
                    </div>
                    <div class="form-inner {{ form.fieldsets.customer.elements.customerPassword.errorClass }}">
                        <h4 class="mt-20">{{ CustomerModel|ProxyStatic('getPropertyLabel', 'frontCustomerPasswordNew')}}</h4>
                        {{ form.fieldsets.customer.elements.customerPassword.error | saferaw }}
                        {{ form.fieldsets.customer.elements.customerPassword | saferaw }}
                    </div>
                    <div class="form-inner {{ form.fieldsets.customer.elements.customerPasswordConfirm.errorClass }}">
                        <h4 class="mt-20">{{ CustomerModel|ProxyStatic('getPropertyLabel', 'frontCustomerPasswordNewConfirm')}}</h4>
                        {{ form.fieldsets.customer.elements.customerPasswordConfirm.error | saferaw }}
                        {{ form.fieldsets.customer.elements.customerPasswordConfirm | saferaw }}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="btn-container">
        {{ form.elements.submit | saferaw }}
    </div>
    {% do form.end %}
</main>
