{% set RegisterController = 'Project\\OAuth2Server\\Admin\\Controller\\OauthClient\\RegisterController' %}
{% set EditController = 'Project\\OAuth2Server\\Admin\\Controller\\OauthClient\\EditController' %}
{% set DeleteController = 'Project\\OAuth2Server\\Admin\\Controller\\OauthClient\\DeleteController' %}
{% set OauthClientModel = 'Project\\OAuth2Server\\Model\\OauthClientModel' %}
{% set form  = self.form %}
{% set ApiListController = 'Project\\OAuth2Server\\Api\\Controller\\AdminOauthClientListController' %}

{{ 'FlashMessage' | flash | tf | alert }}

<section class="content" id="main">
    <div class="row bg-title">
        {{self.containers.Breadcrumb.content|saferaw}}
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                {{ form.start }}
                <div class="form-group row">
                    <div class="col-sm-9">
                        <div class="form-line">
                            {{ form.fieldsets.oauthClient.elements.keyword | saferaw }}
                        </div>
                    </div>
                    {% if self.Router.linkto(RegisterController) %}
                    <div class="col-sm-3">
                        <div class="text-right">
                            <a href="{{ self.Router.linkto(RegisterController) }}" class="btn btn-danger"><i class="fa fa-plus-circle" aria-hidden="true"></i> 新規作成</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-2">{{ form.elements.submit.with({class : 'btn btn-block btn-primary'}) | saferaw }}</div>
                    <div class="col-sm-5"></div>
                </div>
                {{ form.end }}
            </div>
        </div>
        <div class="card">
            <div class="body">
                <table width="100%"
                    class="table color-table info-table dataTables"
                    data-wrapper="section#main"
                    data-form="{{ form.id }}"
                    data-fieldset="{{ form.fieldsets.oauthClient.name }}"
                    data-api="{{ self.Router.linkto(ApiListController) }}"
                    data-orderby="{{ orderBy | json_encode() }}">
                    <thead>
                        <tr>
                            <th data-sort="name">{{ OauthClientModel|ProxyStatic('getPropertyLabel', 'name') }}</th>
                            <th data-sort="redirectUri">{{ OauthClientModel|ProxyStatic('getPropertyLabel', 'redirectUri') }}</th>
                            <th class="col-md-2">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, OauthClient in oauthClient %}
                            <tr class="{{ index % 2 ? 'even' : 'odd' }}">
                                <td>{{ OauthClient.name     }}</td>
                                <td>{{ OauthClient.redirectUri     }}</td>
                                <td class="center">
                                    {% if self.Router.linkto(EditController) %}
                                        <a href="{{self.Router.linkto(EditController, OauthClient.oauthClientId)}}" class="btn btn-primary"> 編集</a>
                                    {% endif %}
                                    {% if self.Router.linkto(DeleteController) %}
                                        <a href="{{self.Router.linkto(DeleteController, OauthClient.oauthClientId)}}" class="btn btn-danger"> 削除</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="row">
                    {{ self.containers.Paginator.content | saferaw }}
                </div>
            </div>
        </div>
    </div>
</section>
